
body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vw;
  background-color: #F2F2F0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #262625;
}

a {
  text-decoration: none;
  color: #262625;
}

.d-flex {
  display: flex;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.tag {
  color: #ababa8;
  font-size: 14px;
}

/*Titles*/

.title {
  margin: 10px 0;
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #0D0D0D;
}

.title-big {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  color: #0D0D0D;
}

.title-box{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 70px;
  z-index: 3;
  animation: titleSlide 1s;
}

@keyframes titleSlide {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}



/*Sidebar*/

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 18%;
  min-height: 100vh;
  padding: 0 30px;
  background-color: #D9D8D7;
  position: relative;
  z-index: 5;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  margin: 10px 0;
  transition: 0.3s;
}

.nav a:hover {
  color: #0D0D0D;
}

.icons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}

.icons a {
  margin: 0 5px;
  font-size: 20px;
}

/*MobSidebar*/

.sideMenu{
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.sideMenu div {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: #262625;
}

.mobSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 300px;
  min-height: 100vh;
  padding: 0 30px;
  background-color: #D9D8D7;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  animation: slide 1s;
}

@keyframes slide {
  from{
    transform: translateX(300px);
  }
  to{
    transform: translateX(0);
  }
}

.closeSidebar{
  margin: 20px;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  margin: 10px 0;
  transition: 0.3s;
}

.nav a:hover {
  color: #0D0D0D;
}

.icons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}

.icons a {
  margin: 0 5px;
  font-size: 20px;
}

/*About*/

.aboutContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.letter {
  width: 300px;
  height: 400px;
  padding: 50px;
  background-image: url("./images/letter-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 20%;
  line-height: 30px;
}

.element {
  width: 600px;
  height: 50px;
  background-color: #262625;
  position: absolute;
  bottom: 20px;
  left: 30%;
}

.photo {
  width: 250px;
  height: 300px;
  background-image: url("./images/photo.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 70px;
  left: 53%;
}

/*Portfolio*/

.portfolioContainer {
  width: 82%;
  max-height: 100vh;
  overflow: scroll;
}

.portfolioBox {
  display: grid;
  grid-template: 150px / 1fr 2fr 2fr 2fr;
  align-items: center;
  width: 100%;
  background-color: #D9D8D7;
  border-bottom: 1px solid #F2F2F0;
  transition: 0.3s ease;
}

.portfolioBox:hover {
  background-color: #F2F2F0;
}

.element2 {
  width: 100%;
  height: 2px;
  background-color: #262625;
}

.projectTitle {
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.btnBoxBg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.webImage {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  animation: fade 1s;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.8;
  }
}

.btnBox {
  position: relative;
  z-index: 2;
}

.projectBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F2F2F0;
  transition: 0.4s ease;
}

.portfolioBox:hover .projectBtn{
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.btnName {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 3;
  transition: 0.3s ease;
  white-space: nowrap;
}

.btnName:hover {
  color: #0D0D0D;
}

/* Experience */

.experienceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 50px 100px;
}

.experience {
  width: 400px;
  line-height: 30px;
}





@media only screen and (max-width: 1000px) {
  .portfolioContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {

  .portfolioBox {
    grid-template: 150px / 2fr 1fr 2fr;
  }

  .element2 {
    display: none;
  }

  .experienceContainer {
    flex-direction: column;
    margin: 0 50px 50px 50px;
  }

  .experience {
    width: 300px;
  }

  .letter {
    top: 70px;
    left: 0;
  }

  .element {
    width: 300px;
    height: 30px;
    top: 100px;
    left: 30%;
  }

  .photo {
    width: 150px;
    height: 200px;
    top: -100px;
    left: 60%;
  }

}